h1 {color:rgb(0, 38, 255)}
h1 {font-size: 340%}
h1 {text-align: center;}
h1 {border: solid 3PX rgb(255, 0, 0)}


@keyframes animacao-texto {
    0% {
        transform: translateX(20px);
    }
    25% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

h2 {font-size: 170%}
h2 {color: black}
h2 {text-align: center;}

:root {
    --cor-de-fundo: rgb(0, 0, 0);
    --branco: #69738800;
    --botao-ativo: #fa8e02;
    --botao-inativo: rgba(217, 255, 0, 0.959);
    --texto-fundo: rgb(255, 0, 0);

