h1 {color:rgb(0, 38, 255)}
h1 {font-size: 340%}
h1 {text-align: center;}
h1 {border: solid 3PX rgb(255, 0, 0)}

#texto-animado {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animacao-texto 5s infinite alternate;
}

@keyframes animacao-texto {
    0% {
        transform: translateX(20px);
    }
    25% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

h2 {font-size: 170%}
h2 {color: black}
h2 {text-align: center;}

